.login-form {
  width: 400px;
  padding: 15px;
}

.login-form h1 {
  margin-bottom: 15px;
}

.login-form input {
  margin: 5px 0;
}

.login-form label {
  display: flex;
  flex-direction: column;
}

.login-form div {
  margin: 10px 0;
}